@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Figma brand design system primitives */
  --color-figma-green: #24cb71;
  --color-figma-blue: #0d99ff;
  --color-figma-orange: #ff7237;
  --color-figma-purple: #874fff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
